{% if plant_list %}
    <ul>
    {% for plant in plant_list %}
        <form action="/modelcontrol/{{ plant.servo.id }}/update/" method="post">
        {% csrf_token %}
        <li>
        Servo {{ plant.servo.id }} Position: {{plant.servo.position}} <input name="position" value="{{ plant.servo.id }}">
        <input type="submit" value="Set" />
        </li>
        </form>
        <form action="/modelcontrol/{{ plant.motor.id }}/update/" method="post">
        {% csrf_token %}
        <li>
        Motor {{ plant.motor.id }} Speed: {{plant.motor.speed}} <input name="speed" value="{{ plant.motor.id }}">
        <input type="submit" value="Set" />
        </li>
        </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No plants are available.</p>
{% endif %}